Body {
  Background: url("background.jpg") no-repeat center fixed;
  background-size: cover;
  margin: 0;
}

.navbar {
  height: 95px;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
}

.logo {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  height: 75px;
  width: 16%;
  z-index: 1;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#logo {
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  height: 55px;
  z-index: 1;
}

.red {
  position: absolute;
  margin-top: 26px;
  margin-left: 20%;
  height: 43px;
  width: 80%;
  z-index: 1;
  background-color: red;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

h3 {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16pt;
}
