Body {
  Background: url("background.jpg") no-repeat center fixed;
  background-size: cover;
  margin: 0;
}

.navbar {
  height: 150px;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
}

.logo {
  position: absolute;
  z-index: 1;
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 355px;
  height: 130px;
  left: 68px;
  top: 10px
}

#logo {
  position: absolute;
  padding-top: 10px;
  padding-left: 5px;
  height: 80px;
  z-index: 1;
  margin: 5%;
}

.red {

  position: absolute;
  margin-top: 38px;
  margin-left: 30%;
  height: 70px;
  width: 70%;
  z-index: 1;
  background-color: red;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
  
}

h3 {
 
  color: white;
  margin-top: 23px;
  margin-left: 10px;
  font-family: 'Chathura';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 25px;
  letter-spacing: 5px;
  padding-left: 15px;
}

.content p{
  font-family: 'Chathura' ;
  font-style: normal;
  color: white;
  font-size: 100px;
  padding-left: 63px;
  margin-top: .2%;
  margin-bottom: 2%;
  padding-top: 1%;
  letter-spacing: 5px;
  line-height: 50px;

}

h2 {
  margin-top: 0%;
  margin-bottom: 1px;
}

.pages .page {
  display: none;
}

.pages .page.is-active {
  display: block;
}

.btns {
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: wrap
}

.update {
  font-family: 'Chathura';
  font-size: 20pt;
  width: 194px;
  border-radius: 50px;
  font-weight: bolder;
}
  .update:active {
    background-color: red;
  }
  .update:focus {
    background-color: red;
  }

.custom-select {
  position: relative;
  font-family: 'Chathura';
  font-size: 30px;
  
  
}

.custom-select select {
  display: none;
  height:50px;
overflow-y: scroll;
}

.select-selected {
  background-color: rgb(18, 18, 19);

}


.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;

}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 1px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
  cursor: pointer;
  
}

.select-items {
  position: absolute;
  background-color: rgba(1, 1, 1, 1);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height:50px;
  overflow-y: scroll;
  height: 400px;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(129, 121, 121, 0.1);
}

textarea {
  margin-top:25px;
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  resize: none;
}

.buttoncreate{
font-family: 'Arial';
color:white;
float: right;
margin-top:15px;
margin-right: 125px;
text-align: center;
background-color: #F12F2F;
width: 100px;
height: 50px;
border-radius: 10px;
}